<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Sync Adapter related permissions -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".Platform"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_ss"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:label">
        <activity
            android:name=".view.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activities.SiltTransportationRecordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.OperatorActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".view.activities.MissionRahat.FilterActivity" />
        <activity android:name=".view.activities.MissionRahat.OxyMachinesAssignActivity" />
        <activity android:name=".view.activities.MissionRahat.SearchListActivity" />
        <activity android:name=".view.activities.MissionRahat.RequirementsListActivity" />
        <activity android:name=".view.activities.MissionRahat.ConcentratorApprovalActivity" />
        <activity android:name=".view.activities.MissionRahat.ConcentratorRequirementActivity" />
        <activity android:name=".view.activities.TMFilterActivity" />
        <activity android:name=".view.activities.MissionRahat.CreateHospitalActivity" />
        <activity android:name=".view.activities.MissionRahat.CreateMachineActivity" />
        <activity
            android:name=".view.activities.SmartGirlDashboardListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activities.SupportActivity" />
        <activity android:name=".view.activities.YouTubeVideoActivity" />
        <activity
            android:name=".view.activities.SELTrainingVideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.activities.SELTrainingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activities.TransactionDetailsActivity" />
        <activity android:name=".view.activities.AddMemberActivity" />
        <activity android:name=".view.activities.MyTeamActivity" />
        <activity
            android:name=".view.activities.MissingInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MatrimonyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.WebviewFormDisplayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.CreateTrainerWorkshop"
            android:label="@string/title_activity_create_trainer_workshop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.CreateWorkshopSmartgirlActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activities.TrainerBatchListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activities.SmartGirlWorkshopListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.fragments.smartgirlfragment.WebActivityTest"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".view.activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.StructureBoundaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CreateFeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.StructureCompletionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CommunityMobilizationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.StructureVisitMonitoringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.StructurePreparationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CreateStructureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MachineMouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.UserRegistrationMatrimonyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".matrimonyregistration.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MatrimonyProfileListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MatrimonyProfileDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.SSActionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.OperatorMeterReadingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.NotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ContentDownloadedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.CreateMatrimonyMeetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ShowMeetBatchesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.UCrop" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.OtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.FormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.PMActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.ProcessListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.TMActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.TMFiltersListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.TMUserProfileListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.PlannerDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.CreateEventTaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.AddMembersFilterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.EventDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.AddMembersListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".view.activities.GeneralActionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.MatrimonyBookletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".view.activities.MachineWorkingDataListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.FormDisplayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity android:name=".view.activities.StoredContentActivity" />
        <activity
            android:name=".view.activities.ssgp.GPActionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MissionRahat.OxyMachineMouActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MissionRahat.OxyMachineDailyReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MissionRahat.OxyMachineListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activities.MissionRahat.PatientInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activities.MissionRahat.ConcentratorTakeOverActivity" />
        <activity
            android:name=".view.activities.CreatePotentialDonor"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activities.DonationRecordActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activities.DonorsActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <receiver
            android:name=".receivers.SmsReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".services.AttendanceService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".syncAdapter.ContentProvider"
            android:authorities="${applicationId}"
            android:exported="false" />

        <service
            android:name=".syncAdapter.SyncService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <service
            android:name=".syncAdapter.GenericAccountService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".services.DownloadService"
            android:exported="true" />
        <service
            android:name=".services.ShowTimerService"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c734e0db3c7d600be0137fb7588a9c13b453227b" />
        <!--
<meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/circle_background" />
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".services.ForegroundService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>